–í—Å–µ –∏–º–ø–æ—Ä—Ç—ã –¥–æ–ª–∂–Ω—ã –≤—ã–ø–æ–ª–Ω—è—Ç—å—Å—è, –æ—Å–æ–±–µ–Ω–Ω–æ –µ—Å–ª–∏ –≤—ã –∑–∞–ø—É—Å–∫–∞–µ—Ç–µ —ç—Ç–æ –≤–Ω—É—Ç—Ä–∏ –¥–æ–∫–µ—Ä–∞

In [1]:
%pylab inline
%config InlineBackend.figure_format = 'retina'
style.use('dark_background')
from IPython.display import clear_output
from copy import copy, deepcopy
from tqdm import tqdm_notebook as tm
from tqdm import trange
from glob import glob
import os
import sys
import warnings
warnings.filterwarnings("ignore")
import os
os.environ['TF_CPP_MIN_LOG_LEVEL'] = '3'

Populating the interactive namespace from numpy and matplotlib

In [3]:
import pandas as pd
import pandas.io.sql as psql

–í—Å–ø–æ–º–æ–≥–∞—Ç–µ–ª—å–Ω—ã–µ —Ñ—É–Ω–∫—Ü–∏–∏ –¥–ª—è –∑–∞–ø—Ä–æ—Å–∞ –¥–∞–Ω–Ω—ã—Ö –∏–∑ –±–∞–∑—ã

In [4]:
def get_conn():
    import psycopg2 as pg
    return pg.connect("dbname=vk_data user=vk_parser password=WegEWWXfedLf2YbS host=13.84.188.132")

def run_sql(query):
    import pandas.io.sql as psql
    res = psql.read_sql(query, get_conn())
    try:
        return res.set_index('uid')
    except:
        import warnings
        warnings.warn("[run_sql] UID wasn't selected, default index used")
        return res

def get_uid():
    return run_sql("SELECT uid FROM users WHERE data_loaded")

In [5]:
df = run_sql("SELECT uid FROM users WHERE first_name = '–ê–Ω—è'")
df.head()

Empty DataFrame
Columns: []
Index: [21754523, 67223827, 190775618, 6608545, 2124713]

In [6]:
df = run_sql("SELECT from_id, text FROM posts  WHERE (text <> '') AND (text LIKE '% –¥–∞ –ª–∞–¥–Ω–æ —Ç–µ–±–µ%')")
df.head()

    from_id                                               text
0     82380  –û–π, –¥–∞ –ª–∞–¥–Ω–æ —Ç–µ–±–µ;)) –°—Ç–∏—Å–Ω–∏—Ç–µ–ª—å–Ω—ã–π —Ç—É—Ç –Ω–∞—à–µ–ª—Å—è...
1  36596923  –æ–π –¥–∞ –ª–∞–¥–Ω–æ —Ç–µ–±–µ=)\n—è –¥—É–º–∞—é —á—Ç–æ —Ç–∏ –¥—É–º–∞–µ—à—å —á—Ç–æ...
2  15759198  —Ö–¥ –¥–∞ –ª–∞–¥–Ω–æ —Ç–µ–±–µ)))))))—è –∂–µ —à—É—á—É –Ω–∞—Å—á–µ—Ç –∫—É–ª–∏—Å–æ...
3   1480663       –æ–π, –¥–∞ –ª–∞–¥–Ω–æ —Ç–µ–±–µ)))))))  –∫—Ç–æ –±—ã –≥–æ–≤–æ—Ä–∏–ª!!!!
4   1088981  –∞—Ö–∞—Ö–∞—Ö!! –¥–∞ –ª–∞–¥–Ω–æ —Ç–µ–±–µ –∏–∑–¥–µ–≤–∞—Ç—å—Å—è, –ò—Ä!))))))))...

### –ò–∑–≤–ª–µ–∫–∞–µ–º —ç–º–æ–¥–∑–∏ –∏–∑ —Å–æ–æ–±—â–µ–Ω–∏–π

In [7]:
# !pip3 install emoji
import emoji

In [8]:
def getEmojiFromString(text):
    listText = list(text)
    emojiList = [c for c in listText if c in emoji.UNICODE_EMOJI]
    return np.unique(emojiList, return_counts=True)

def getSarcasmEmojiFromString(text):
    sarcasmEmoji = ['üôÉ', 'üê∏', 'üíÅ', 'üåù']
    emojiList = [c for c in text if c in emoji.UNICODE_EMOJI]
    sarcasmEmojiList = [c for c in emojiList if c in sarcasmEmoji]
    return np.unique(sarcasmEmojiList, return_counts=True)

def getNegativeEmojiFromString(text):
    negativeEmoji = ['üò†', 'üò°', 'üò§', 'üëø', 'üëé', 'üëä', 'üë∫', 'ü§¨', 'üòà', 'üíÄ', '‚ò†Ô∏è', 'üî´', 'üòï', 'üôÖ', 'üòæ', 'üñï']
    emojiList = [c for c in text if c in emoji.UNICODE_EMOJI]
    sarcasmEmojiList = [c for c in emojiList if c in negativeEmoji]
    return np.unique(sarcasmEmojiList, return_counts=True)

def getNegativeEmojiValueFromString(s):
    negEmoji = getNegativeEmojiFromString(s)
    return negEmoji[1].sum()

### –í—ã–¥–µ–ª—è–µ–º "—Å–∞—Ä–∫–∞–∑–º" –∏–∑ —Ç–µ–∫—Å—Ç–∞

In [9]:
import string 
def removePunctuationFromString(s):
    return s.translate(str.maketrans('', '', string.punctuation))

def getSarcasmPhraseFromString(s):
    sarcasmVocabulary = ['–Ω—É –¥–∞ –∫–æ–Ω–µ—á–Ω–æ', '–¥–∞ —á—Ç–æ —Ç—ã –≥–æ–≤–æ—Ä–∏—à—å', '–¥–∞ –ª–∞–¥–Ω–æ', '—Å–ø–∞—Å–∏–±–æ –∫—ç–ø', '—á—Ç–æ –±—ã –º—ã –±–µ–∑ —Ç–µ–±—è –¥–µ–ª–∞–ª–∏',
                         '–∞–≥–∞ –∫–æ–Ω–µ—á–Ω–æ', '–ø—Ä—è–º —Å—Ä–∞–∑—É', '–ø—Ä—è–º–æ —Å—Ä–∞–∑—É', '–æ–π –∫–æ–Ω–µ—á–Ω–æ', '–æ–π –ª–∞–¥–Ω–æ', '–¥–∞ —á—Ç–æ —Ç—ã', '–æ–π –¥–∞ –∫–æ–Ω–µ—á–Ω–æ']
    strClean = removePunctuationFromString(s)
    sarcasmList = []
    for sarcasmExpression in sarcasmVocabulary:
        if sarcasmExpression in s:
            sarcasmList.append(sarcasmExpression)
    return sarcasmList

def getSarcasmValueFromString(s):
    sarcasmPhrase = getSarcasmPhraseFromString(s)
    sarcasmEmoji = getSarcasmEmojiFromString(s)
    return int(len(sarcasmPhrase) or len(sarcasmEmoji[0]))

In [16]:
s = '–æ–π –¥–∞ –ª–∞–¥–Ω–æ –ø—Ä—è–º —Å—Ç–µ—Å–Ω—è—à–∫–∞!))))'
print(removePunctuationFromString(s))
print(getSarcasmPhraseFromString(s))
print(getSarcasmValueFromString(s))

–æ–π –¥–∞ –ª–∞–¥–Ω–æ –ø—Ä—è–º —Å—Ç–µ—Å–Ω—è—à–∫–∞
['–¥–∞ –ª–∞–¥–Ω–æ']
1

In [14]:
def getPostsByUid(uid):
    sqlQuery = "SELECT from_id, text FROM posts  WHERE (text <> '') AND (from_id = " + str(uid) + ")"
    return run_sql(sqlQuery).text

In [15]:
getPostsByUid(15759198)

0                                       —Ö–º...–≤ —Å–º—ã—Å–ª–µ?)
1     –Ω–µ —è –≤—Å–µ —Ç–∞–∫ —É–¥–∞–ª—è—é))–æ—Å—Ç–∞–≤–ª—è—é —Ç–æ–∫ –∫–∞—Ä—Ç–∏–Ω–∫–∏ –∏ –º...
2                    –∞—Ö—Ö–∞—Ö –Ω—É —ç—Ç–æ –≤—Å–µ –¥–ª—è –¥–µ–±—è –¥–µ—Ç–∫–∞)))
3     –æ–π –Ω–µ –ø–æ–≤–µ—Ä–∏—à –∫–∞–∫ —è –∏—Å–∫–∞–ª–∞ –∏—Å–∫–∞–ª–∞ —Ö–¥))–∞ –ø–æ—Ç–æ–º ...
4                           –∞—Ö—Ö–∞—Ö–∞ –≤–æ—Ç —Å–µ–π—á–∞—Å)))))—Ö–¥)))
5                            –ø–∞—à–∫–∞!!!–∞ —è —Ç–µ–±—è –Ω–∞—à–ª–∞))—Ö–¥
6                                  —É—Ä–∞–∞–∞ –ø–∞—Å–∏–ø–∫–∏ –∑–∞–π)))
7     —Ö–¥ –¥–∞ –ª–∞–¥–Ω–æ —Ç–µ–±–µ)))))))—è –∂–µ —à—É—á—É –Ω–∞—Å—á–µ—Ç –∫—É–ª–∏—Å–æ...
8     —Ö–¥ –Ω—É –ø–∞—à–µ—á–∫–∞ –Ω—É —Å–æ–ª–Ω—ã—à–∫–æ..–Ω—É –º–∞–ª—ã—à..–Ω—É –∫–∏—Å—è))...
9                 –∞—Ö—Ö–∞—Ö –∞ —Ç—ã –º–µ–Ω—è –≤–æ–∑–µ—à—å —Å —Å–æ–±–æ–π???))))
10    –ø–∞—Å–∏–ø –∑–∞–π–∫))–æ–±—è–∑–∞—Ç–µ–ª—å–Ω–æ –±—É–¥—É)))—Ö–∞—Ö–∞—Ö)))*–ª—ã–±–∏—Ç—å...
11    –æ–æ—Ö—Ö–æ—Ö–æ –ø—Ä–∏–∫–æ–ª—å–Ω–æ))—è —Ç–∞ —Ç–æ–∂–µ –Ω–µ –ø–ª–æ—Ö–æ —ç—Ç–æ –∞ –∫–æ...
12    –æ–æ–æ–æ –ø–∞—à–∫–∞ –Ω—É —Ç—ã –æ—Ç—Ä–∞—Å—Ç–∏–ª –ø–∞—Ç–ª—ã))))–º—É–∂–∏—á–µ–∫))))...
Name: text, dtype: object